* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("../img/bg1.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #707070;
}


.container {
  padding: 0 16px;
}

.title {
  font-size: 36px;
  font-weight: normal;
  font: normal normal 300 55px/73px Segoe UI;
}

.container_nav{
  display: flex;  
  top:0px;
  left: 1px;
  width: 1919;
  height: 67px;
  background-color: rgb(245, 243, 247);
}

 
.items_link_nav li{
  color: rgb(250, 248, 248);
  display: inline-flex;
  text-decoration: none;
  list-style: none;
  padding: 2px;
}


.profile {
  max-width: 452px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container_conteudo{
 display:block;
 top: 600px;
 left: 848px;
 width: 518px;
 height: 400px;
 font-size: 20px;
}

.mim_saludo{
  top: 533px;
  left: 848px;
  width: 65px;
  height: 46px;
  text-align: left;
  font: normal normal bold 34px/46px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
   
 }

 .mim_paragrafo{
  top: 600px;
  left: 848px;
  width: 518px;
  height: 305px;
  text-align: justify;
  font: normal normal 600 21px/34px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
 }

 .formacao{
  top: 939px;
  left: 1px;
  width: 700px;
  height: 353px;
  background: #DEDEDE 0% 0% no-repeat padding-box;
  opacity: 1;
 }

 #mimformacao{
  top: 973px;
  left: 554px;
  width: 230px;
  height: 73px;
  text-align: center;
  font: normal normal 300 55px/73px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
 }

 .experiencia{
  top: 1292px;
  left: 1px;
  width: 700px;
  height: 353px;
  background: #434343 0% 0% no-repeat padding-box;
  opacity: 1;
 }

 #mimexperiencia{
  top: 1326px;
  left: 561px;
  width: 258px;
  height: 73px;
  text-align: center;
  font: normal normal 300 55px/73px Segoe UI;
  letter-spacing: 0px;
  color: #999999;
  opacity: 1;
 }

 .projeto{
   display: inline-flex;
  top: 1645px;
  left: 0px;
  width: 700px;
  height: 800px;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  opacity: 1;
 }

 #mimprojeto{
  top: 1666px;
  left: 554px;
  width: 185px;
  height: 50px;
  text-align: left;
  font: normal normal 300 55px/73px Segoe UI;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
 }

 .card{
  width:18rem ;
}

.card-img-top{
  height: 12rem;
  object-fit:contain;
}

.mostra_projetos{
  display:block;
  top: 0px;
}
.contacto{
  display: block;
  top: 2163px;
  left: 500px;
  width: 700px;
  height: 609px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
  color:#F2F2F2;
 }

 .informacao{
   display: block;
 }
.box {
  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  text-align: center;
  margin-top: 8rem;
}

.profile-pic {
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}

.profile span {
  font-size: 24px;
}

.profile p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais li {
  margin-right: 1rem;
}

.portfolio {
  max-width: 886px;
  box-sizing: border-box;
}

.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 1rem;
  color: #606060;
}

.portfolio li + li {
  margin-top: 2rem;
}

.portfolio img {
  border-radius: 10px;
}

.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.copyright {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 16px black;
  margin-top: 50vh;
  padding-bottom: 50vh;
  text-align: center;
}

@media (max-width: 600px) {
  body {
    background-attachment: initial;
    background-size: contain;
    background-color: #f0e6da;
  }
  .box {
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 30px;
  }
  .box:first-child {
    padding: 3rem;
  }
  .portfolio ul {
    margin-top: 1rem;
  }
  .portfolio li {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .portfolio li div {
    max-width: 448px;
  }
  .copyright {
    font-size: 18px;
    color: #606060;
    text-shadow: none;
    margin: 0;
    padding: 4rem 0;
  }
}
